
body{
    height: 100%;
    margin: 0;
}
main{
    flex: 1;
}

footer{
    width: 100%;
    background-color: lightgray;
    padding: 20px 0;
}


.container_footer{
    font-weight: 20px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;  
}

.footer_list ul{
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.footer_list ul li{
    margin-bottom: 12px;
}