
body{
    height: 100%;
    margin: 0;
}
main{
    flex: 1;
}

footer{
    width: 100%;
    background-color: white;
    padding: 20px 0;
}

/* footer1번 */

.container_footer1{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 20px;
}
.footer_list1{
    flex: 1;
}
.footer_list1 h4{
    margin-bottom: 10px;
}
.footer_list1 a{
    color: gray;
    text-decoration:underline;
}

/* footer2번 */

.container_footer{
    font-weight: 20px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;  
}

.footer_list ul{
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.footer_list ul li{
    margin-bottom: 12px;
}
