.container{
    margin: 80px auto 0;
}
.container h1{
    font-size: 40px;
}
.container hr{
    margin: 20px 0;
}
.container-top, .container-pants{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    padding: 20px;
}

.top, .pants{
    position: relative;
    width: 300px;
    overflow: hidden;
}
.top img, .pants img{
    width: 100%;
    display: block;
    transition: 0.3s;
}



.top h3{
    text-align: center;
}
.top .info, .pants .info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0,0,0,0.5); /* 반투명 어두운 배경 */
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    opacity: 0;          /* 처음엔 안 보임 */
    transition: 0.3s;
}
.top:hover .info, .pants:hover .info{
    transform: scale(1.05);
    opacity: 1;
}

.shopmain h3{
    margin-top: 100px;
    text-align: center;
    font-size: 40px;
}

.shopmain ul{
    position: fixed;
    
}

/* 푸터 바로 상단 */
.container-store{
    display: flex;
    height: 600px;
    width: 100%;
    margin-top: -300px;

    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

/* 왼쪽 이미지 */
.store-image{
    width: 50%;
    border-right: 1px solid #000;   
}
.store-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 오른쪽 텍스트 영역 */
.store-text{
    width: 50%;
    padding-left: 120px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.store-text h2{
    font-size: 48px;
    line-height: 1.2;
    margin-bottom: 30px;
}
.store-text button{
    width: 220px;
    padding: 18px 0;
    background: black;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
@media screen and (max-width: 768px){

    .info h3{
        text-align: center;
        font-size: 15px;
    }
    .container{
        margin-top: 100px;
        
    }
    .container-store{
        flex-direction: column;
        height: auto;
        margin-top: -300px;
        border-right: none;
    }
    .store-image{
        width: 100%;
        height: auto;
        border-right: none;
        border-bottom: 1px solid black;
    }
    .store-image .store-text{
        width: 100%;
    }
    .store-image img{
        width: 100%;
        padding: 40px 20px;
        text-align: left;
        box-sizing: border-box;
    }
    .store-text{
        width: 100%;
        padding: 40px 20px;
        text-align: left;
        box-sizing: border-box;
    }
    .store-text h2{
        font-size: 32px;
        margin-bottom: 20px;
    }
    .store-text button{
        width: 200px;
        margin: 0;
    }
}
