main{
    padding-top: 100px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
body{
    overflow: hidden;
}
.shopmain ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}
.shopmain ul li{
    width: 30.33%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.shopmain h3{
    width: 100%;
    text-align: center;
    font-size: 36px;
    margin: 0;
    padding: 30px 0;
    background-color: white;
    flex-shrink: 0; /* 제목 영역이 줄어들지 않게 고정*/
}   
.shopmain .top, .shopmain .pants, .shopmain .caps{
    
}
.shopmain{
    flex: 1;
    overflow-y: auto;
    padding-bottom: 50px;
}

.shopmain::-webkit-scrollbar {
    width: 5px;
}
.shopmain::-webkit-scrollbar-thumb {
    background: #eee;
    border-radius: 10px;
}
.shopmain img{
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 15px;
}

.shopmain img:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px;
    transform: scale(1.03);
}
.shopmain p, .shopmain h4 {
    text-align: center;
    margin: 5px 0;
}
.top p, .top h4, .pants p, .pants h4, .caps p, .cs h4{
    text-align: center;
}

.pants, .caps{
    margin-top: 50px;
}


@media screen and (max-width: 1336px){
    .shopmain ul li{
    width: 45%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

}

@media screen and (max-width: 768px){
    .shopmain ul li{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}
}
