main{
    margin-top: 100px;
    margin-left: 50px;
}
.flagship{
    margin-left: 20px;
    font-size: 43px;
}
.information{
    margin-top: 50px;
    display: flex;  
    justify-content: space-around;
}
hr{
    margin-top: 30px;
    background-color: lightgray;
    height: 1px;
    border: 0;
}
.map{
    margin-top: 40px;
    text-align: center;
    margin-right: 50px;
}
@media screen and (max-width: 768px){
    .information{
        gap: 30px;
        padding: 10px;
        font-size: 14px;
    }
   .information .place, .information .time, .information .tel{
    width: 200px;
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
   }
}
