main{
    margin-top: 100px;
    margin-left: 50px;
}
.flagship{
    margin-left: 20px;
    font-size: 43px;
}
.information{
    margin-top: 50px;
    display: flex;  
    justify-content: space-around;
}
hr{
    margin-top: 30px;
    background-color: lightgray;
    height: 1px;
    border: 0   ;
}
